package http

import (
	"encoding/json"
	stdhttp "net/http"

	"{{.ModulePath}}/modules/{{.ModuleName}}"
)

type {{.ModuleCamel}}Handler struct {
	service {{.ModuleName}}.Service
}

func New(s {{.ModuleName}}.Service) *{{.ModuleCamel}}Handler {
	return &{{.ModuleCamel}}Handler{service: s}
}

func (h *{{.ModuleCamel}}Handler) Get{{.ModuleCamel}}(w stdhttp.ResponseWriter, r *stdhttp.Request) {
	ctx := r.Context()
	id := r.URL.Query().Get("id")
	if id == "" {
		id = "default"
	}
	res, err := h.service.GetByID(ctx, id)
	if err != nil {
		stdhttp.Error(w, err.Error(), stdhttp.StatusInternalServerError)
		return
	}
	w.Header().Set("Content-Type", "application/json")
	json.NewEncoder(w).Encode(res)
}
