package usecase

import (
	"context"
	"{{.ModulePath}}/internal/{{.DomainLower}}/model"
	"{{.ModulePath}}/internal/{{.DomainLower}}/repository"
)

//go:generate mockgen -source={{.DomainLower}}_usecase.go -destination=../mocks/mock_{{.DomainLower}}_usecase.go -package=mocks
type {{.DomainCamel}}Usecase interface {
	GetByID(ctx context.Context, id string) (*model.{{.DomainCamel}}, error)
}

type {{.DomainLower}}Usecase struct {
	repo repository.{{.DomainCamel}}Repository
}

func New{{.DomainCamel}}Usecase(repo repository.{{.DomainCamel}}Repository) {{.DomainCamel}}Usecase {
	return &{{.DomainLower}}Usecase{repo: repo}
}

func (u *{{.DomainLower}}Usecase) GetByID(ctx context.Context, id string) (*model.{{.DomainCamel}}, error) {
	return u.repo.GetByID(ctx, id)
}
